.apps:hover{
    transition-delay: 1s;
    color: rgba(20, 192, 222, 1);
}
.apps span{
    display: block;
    position: absolute;
    background: #228394;
    box-shadow: 0 0 10px #14c0de, 0 0 40px #14c0de;
}

.apps span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.apps:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.apps span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.apps:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.apps span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}
.apps:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}

.apps span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.apps:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}